<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <mat-card style="min-width: 30%;">
        <mat-card-header>
            <mat-card-title>Kullanici Girisi</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" class="d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Emailinizi Giriniz" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email Zorunludur</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        Lutfen dogru formatta email giriniz
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Sifre</mat-label>
                    <input type="password" matInput placeholder="Sifrenizi Giriniz" formControlName="password">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Sifre Zorunludur</mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Lutfen minimum 8 karakter
                        giriniz</mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-between align-items-center"><a
                        style="text-decoration: none; color: black;" routerLink="/create-user">Kayit
                        Ol</a>
                    <button [disabled]="loginForm.invalid" mat-raised-button color="primary">Giris Yap</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>